* {
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

body {
  background-color: green;
  min-height: 100%;
}
main {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 20px auto;
  background-color: ivory;
  height: auto;
  min-height: 100%;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

p {
  line-height: 1.4rem;
  padding: 2rem 0;
}

.image {
  max-width: 100%;
}

.container:first-of-type {
  width: 130%;
  flex-direction: column;
  justify-content: space-between;
}

.container:nth-of-type(2) {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.big-container {
  border: 10px solid green;
}

.aside-container {
  border: 10px solid green;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.article-footer {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem 1rem;
}

.small-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  flex: 1 0 auto;
}

@media (max-width: 950px) {
  main {
    display: flex;
    flex-direction: column;
  }

  .container:first-of-type,
  .container:nth-of-type(2) {
    width: 100%;
  }
}
